<div class="header-top d-none d-lg-block">
  <div class="container w-100" style="overflow-x: hidden;">
      <div class="d-flex">
          <div class="w-100 mw-50">
              <div class="header-info">
                  <ul>
                      <li><a href="/blogs/noticias">Blog</a></li>
                      <li><a href="/pages/contact">Contacto</a></li>
                      {% comment %} <li><a href="/pages/faqs">Preguntas Frecuentes</a></li> {% endcomment %}
                      <li><a href="/pages/facturacion">Facturación</a></li>
                  </ul>
              </div>
          </div>
          <div class="w-100 mw-50">
              <div class="header-info header-info-right">
                  <ul>
                      <li> 
                        <a href="#!" class="text-brand d-flex align-items-center">
                            <img src="{{ 'whatsapp-icon.svg' | asset_url }}" alt="WhatsApp" style="width: 20px; height: 20px; vertical-align: middle; display: block; margin-right: 5px;" width="20" height="20" />
                            ¿Dudas? ¡Escríbenos por WhatsApp!
                        </a>
                    </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="header-middle d-none d-lg-block">
    <div class="container">
        <div class="header-wrap">
            <div class="logo d-flex w-100">
                <a href="/" class="d-flex w-100">
                  <img src="https://cdn.shopify.com/s/files/1/0763/2545/4045/files/Recurso_322.png?v=1750710221" alt="logo" width="280" height="45" style="width: auto; height: auto; max-width: 280px" />
                </a>
            </div>

            <div class="header-search-bar-desk w-100 d-flex justify-content-center">
                {% unless template == 'search' %}
                    {% render 'search-bar-desktop', block: block %}
                {% endunless %}
            </div>

            <div class="header-right d-flex justify-content-end">
                <div class="header-action-right">
                  {% render 'navbar-desktop-icons', block: block %}
                </div>
            </div>
        </div>
    </div>
</div>