<section class="home-slider style-2 position-relative mb-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-12">
                <style>
                    .banner-img.style-3.cusbg{
                        background-image: url(https://cdn.shopify.com/s/files/1/0763/2545/4045/files/fondo1_1.png?v=1750295671);
                        background-position: center 25%;
                        background-size: cover;
                    }
                </style>
                <div class="banner-img style-3 animated animated d-flex align-items-center cusbg">
                    <div class="banner-text position-relative d-block top-0">
                        <h1 class="my-0 py-0 text-white">
                            ¡El equipo Rocket llegó!
                        </h1>
                        <p class="fw-normal fs-5 lh-base w-50 my-0 py-3 text-white">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, nisi eu consectetur cursus.
                        </p>
                        <a href="shop-grid-right.html" class="btn">
                            ¡Compra ahora!
                            <i class="fi-rs-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-none d-xl-block">
                <div class="banner-img style-3 animated animated">
                    <div class="banner-text mt-50">
                        <h2 class="mb-50">
                            Delivered <br />
                            to
                            <span class="text-brand">your<br />
                                home</span>
                        </h2>
                        <a href="shop-grid-right.html" class="btn btn-xs">Shop Now <i class="fi-rs-arrow-small-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "banner-two-parts",
  "presets": [
    {
      "name": "Banner con dos imagenes",
    }
  ]
}
{% endschema %}