@use '../tema/abstracts/_variables.scss' as *;

.bg-color-brand{
  background-color: $color-brand !important;
}
.bg-color-brand-dark{
  background-color: $color-brand-dark !important;
}

footer{
  margin-top: 80px;
  .footer-mid{
    border-top: 1px solid $background-1;
  }
  .paymentstxt{
    margin: 50px 0 0;
    @media (min-width: 979px) {
      text-align: right;
      margin: 0;
    }
  }
  .logo{
    @media (max-width: 580px) {
      text-align: center;
    }
  }
  .social-icons {
    gap: 0 8px;
    li a{
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $color-brand;
      &:active,
      &:focus,
      &:hover{
        background-color: $color-brand-dark;
      }
      svg, g{
        fill: white;
        stroke: white;
      }
    }
  }
}



.detail-info .product-price .old-price{
  color: $color-brand-dark;
}
.detail-info .product-price .save-price{
  color: white;
  background-color: $color-brand-dark;
}
.product-options .size-buttons input + label{
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: $color-brand-dark;
  border-color: $color-brand-dark;
}
.product-options .size-buttons input:checked + label{
  background-color: $color-brand-dark;
  border-color: $color-brand-dark;
}
.qty-input-wrapper .form-control{
  height: 100%;
  border-radius: 0;
}
.qty-input-wrapper .btn{
  background-color: $color-brand-dark;
  border-color: $color-brand-dark;
  border-radius: 0;
  &:active,
  &:focus,
  &:hover{
    background-color: $color-brand;
    border-color: $color-brand;
  }
  &[disabled]{
    background-color: white;
    border: 1px solid #f0e9fd;
  }
}
button.submit, 
button[type=submit]{
  border-radius: 0;
}


.customCard.product-cart-wrap{
  .product-img-action-wrap{
    max-height: unset;
    .product-img{
      a{
        max-height: 250px;
        overflow: hidden;
        img{
          object-fit: contain;
          width: auto;
          max-width: 100%;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
  .product-badges.product-badges-position{
    top: 7px;
    left: 7px;
    border-radius: 10px;
    overflow: hidden;    
    span{
      border-radius: 0;
      padding: 10px 20px 10px 20px;
      background-color: $color-hot;
      font-size: 16px;
    }
  }

  a{
    color: $color-brand-2;
  }
  .product-price{
    font-family: $font-text;
    padding-top: 10px;
    span{
      font-size: 20px;
      color: $color-brand;
      font-weight: normal;
    }
    .product-card-price-compare{
      color: $color-hot;
    }
  }
}

.breadcrumb span::before{
  display: none;
}


#offcanvas-cart{
  .offcanvas-header{
    background-color: $color-brand;
    h2{
      color: white;
    }
    .btn-close{
      color: white;
      &:active,
      &:focus,
      &:hover{
        color: $color-brand-dark;
      }
    }
  }
  .cart-items-list{
    .cart-item{
      margin-bottom: 20px;
      border-bottom: 1px solid #ddd;
    }
    .img-thumbnail{
      object-fit: contain;
    }
    .btn-line-item-remove{
      padding: 0px 0 20px;
      font-weight: normal;
      font-family: $font-text;
      font-size: 12px;
      margin-left: auto;
      display: block;
      margin-top: 5px;
      background-color: transparent;
      color: red;
    }
  }
}



.emptyCollection{
  padding: 100px 0 200px;
  p{
    text-align: center;
    font-family: $font-heading;
    font-weight: normal;
    color: $color-brand-dark;
    font-size: $font-xxl;
    line-height: 1;
    a{
      text-decoration: underline;
      display: table;
      margin: 30px auto 0;
      font-size: .75em;
    }
  }
}




.search-main{
  padding: 150px 0 100px;
  h1{
    margin-bottom: 50px;
  }
}

.btnfiltro{
  background-color: transparent;
  border: 0;
}
.tagPost{
  padding: 5px 12px;
  border-radius: 3px;
  background-color: $color-brand-dark;
  color: white;
  &:hover{
    color: white;
  }
}